In [1]:
#Import Libraries
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv(r"C:\Users\tahmi\Documents\GitHub\ProgrammingForDataScienceProject\Data\nation.1751_2014.csv")
print(data)

            Nation  Year  \
0      AFGHANISTAN  1949
1      AFGHANISTAN  1950
2      AFGHANISTAN  1951
3      AFGHANISTAN  1952
4      AFGHANISTAN  1953
...            ...   ...
17227     ZIMBABWE  2010
17228     ZIMBABWE  2011
17229     ZIMBABWE  2012
17230     ZIMBABWE  2013
17231     ZIMBABWE  2014

       Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)  \
0                                                      4
1                                                     23
2                                                     25
3                                                     25
4                                                     29
...                                                  ...
17227                                               2121
17228                                               2608
17229                                               2125
17230                                               3184
17231                                               3278

      Emissions from solid fuel consumption  \
0                                         4
1                                         6
2                                         7
3                                         9
4                                        10
...                                     ...
17227                                  1531
17228                                  1584
17229                                   917
17230                                  1902
17231                                  2097

      Emissions from liquid fuel consumption  \
0                                          0
1                                         18
2                                         18
3                                         17
4                                         18
...                                      ...
17227                                    481
17228                                    888
17229                                   1006
17230                                   1119
17231                                   1005

      Emissions from gas fuel consumption  Emissions from cement production  \
0                                       0                                 0
1                                       0                                 0
2                                       0                                 0
3                                       0                                 0
4                                       0                                 0
...                                   ...                               ...
17227                                   0                               109
17228                                   0                               136
17229                                   0                               201
17230                                   0                               162
17231                                   0                               177

      Emissions from gas flaring  \
0                            NaN
1                              0
2                              0
3                              0
4                              0
...                          ...
17227                          0
17228                          0
17229                          0
17230                          0
17231                          0

      Per capita CO2 emissions (metric tons of carbon)  \
0                                                  NaN
1                                                    0
2                                                    0
3                                                    0
4                                                    0
...                                                ...
17227                                             0.15
17228                                             0.18
17229                                             0.15
17230                                             0.21
17231                                             0.22

       Emissions from bunker fuels (not included in the totals)
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
17227                                                  7
17228                                                  8
17229                                                  9
17230                                                  9
17231                                                  9

[17232 rows x 10 columns]

In [3]:
data.head(10)

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
0,AFGHANISTAN,1949,4,4,0,0,0,NaN,NaN,0
1,AFGHANISTAN,1950,23,6,18,0,0,0,0,0
2,AFGHANISTAN,1951,25,7,18,0,0,0,0,0
3,AFGHANISTAN,1952,25,9,17,0,0,0,0,0
4,AFGHANISTAN,1953,29,10,18,0,0,0,0,0
5,AFGHANISTAN,1954,29,12,18,0,0,0,0,0
6,AFGHANISTAN,1955,42,17,25,0,0,0,0,0
7,AFGHANISTAN,1956,50,17,33,0,0,0,0.01,0
8,AFGHANISTAN,1957,80,21,59,0,0,0,0.01,0
9,AFGHANISTAN,1958,90,25,65,0,0,0,0.01,0

In [4]:
#return size of rows and cols
data.shape

(17232, 10)

In [5]:
data.index

RangeIndex(start=0, stop=17232, step=1)

In [6]:
data.columns

Index(['Nation', 'Year',
       'Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)',
       'Emissions from solid fuel consumption',
       'Emissions from liquid fuel consumption',
       'Emissions from gas fuel consumption',
       'Emissions from cement production', 'Emissions from gas flaring',
       'Per capita CO2 emissions (metric tons of carbon)',
       'Emissions from bunker fuels (not included in the totals)'],
      dtype='object')

In [7]:
data.loc[0]

Nation                                                                                     AFGHANISTAN
Year                                                                                              1949
Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)              4
Emissions from solid fuel consumption                                                                4
Emissions from liquid fuel consumption                                                               0
Emissions from gas fuel consumption                                                                  0
Emissions from cement production                                                                     0
Emissions from gas flaring                                                                         NaN
Per capita CO2 emissions (metric tons of carbon)                                                   NaN
Emissions from bunker fuels (not included in the totals)                                             0
Name: 0, dtype: object

In [8]:
data.dtypes

Nation                                                                                     object
Year                                                                                        int64
Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)     int64
Emissions from solid fuel consumption                                                      object
Emissions from liquid fuel consumption                                                     object
Emissions from gas fuel consumption                                                        object
Emissions from cement production                                                            int64
Emissions from gas flaring                                                                 object
Per capita CO2 emissions (metric tons of carbon)                                           object
Emissions from bunker fuels (not included in the totals)                                    int64
dtype: object

# Changing Data Types

In [9]:
data["Nation"] = data["Nation"].astype("string")

In [10]:
data["Emissions from solid fuel consumption"] = pd.to_numeric(data["Emissions from solid fuel consumption"],errors='coerce')

In [11]:
data["Emissions from liquid fuel consumption"] = pd.to_numeric(data["Emissions from liquid fuel consumption"],errors='coerce')

In [12]:
data["Emissions from gas fuel consumption"] = pd.to_numeric(data["Emissions from gas fuel consumption"],errors='coerce')

In [13]:
data["Emissions from gas flaring"] = pd.to_numeric(data["Emissions from gas flaring"],errors='coerce')

In [14]:
data["Per capita CO2 emissions (metric tons of carbon)"] = pd.to_numeric(data["Per capita CO2 emissions (metric tons of carbon)"],errors='coerce')

In [15]:
data.dtypes

Nation                                                                                      string
Year                                                                                         int64
Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)      int64
Emissions from solid fuel consumption                                                      float64
Emissions from liquid fuel consumption                                                     float64
Emissions from gas fuel consumption                                                        float64
Emissions from cement production                                                             int64
Emissions from gas flaring                                                                 float64
Per capita CO2 emissions (metric tons of carbon)                                           float64
Emissions from bunker fuels (not included in the totals)                                     int64
dtype: object

In [16]:
#find missing values
data.isna().sum()

Nation                                                                                        0
Year                                                                                          0
Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)       0
Emissions from solid fuel consumption                                                       204
Emissions from liquid fuel consumption                                                      204
Emissions from gas fuel consumption                                                         204
Emissions from cement production                                                              0
Emissions from gas flaring                                                                 4770
Per capita CO2 emissions (metric tons of carbon)                                           4904
Emissions from bunker fuels (not included in the totals)                                      0
dtype: int64

# There are missing values in our national dataset. We need to replace NaN values or blank spaces with 0

In [17]:
#data is numeric, fill missing values with mean
#data['Per capita CO2 emissions (metric tons of carbon)'].fillna(data['Per capita CO2 emissions (metric tons of carbon)'].mean(),inplace=True)

In [18]:
data['Emissions from gas flaring'] = data['Emissions from gas flaring'].fillna(0)

In [19]:
data['Per capita CO2 emissions (metric tons of carbon)'] = data['Per capita CO2 emissions (metric tons of carbon)'].fillna(0)

In [20]:
data['Emissions from solid fuel consumption'] = data['Emissions from solid fuel consumption'].fillna(0)

In [21]:
data['Emissions from liquid fuel consumption'] = data['Emissions from liquid fuel consumption'].fillna(0)

In [22]:
data['Emissions from gas fuel consumption'] = data['Emissions from gas fuel consumption'].fillna(0)

In [23]:
#to check still missing values are available or not
data.isna().sum()

Nation                                                                                     0
Year                                                                                       0
Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)    0
Emissions from solid fuel consumption                                                      0
Emissions from liquid fuel consumption                                                     0
Emissions from gas fuel consumption                                                        0
Emissions from cement production                                                           0
Emissions from gas flaring                                                                 0
Per capita CO2 emissions (metric tons of carbon)                                           0
Emissions from bunker fuels (not included in the totals)                                   0
dtype: int64

In [24]:
data.notnull()

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
17227,True,True,True,True,True,True,True,True,True,True
17228,True,True,True,True,True,True,True,True,True,True
17229,True,True,True,True,True,True,True,True,True,True
17230,True,True,True,True,True,True,True,True,True,True
17231,True,True,True,True,True,True,True,True,True,True

In [25]:
data.describe()

,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
count,17232.000000,1.723200e+04,1.723200e+04,17232.000000,17232.000000,17232.000000,17232.000000,17232.000000,17232.000000
mean,1961.579561,2.268712e+04,1.107010e+04,7589.085829,3189.767700,638.453865,199.718489,0.907776,560.330606
std,44.251691,1.132419e+05,6.206518e+04,39057.928585,20714.456024,6631.010202,1087.880733,2.194268,2414.320487
min,1751.000000,-1.473000e+03,-1.030000e+02,-4663.000000,-40.000000,0.000000,0.000000,-0.680000,0.000000
25%,1944.000000,1.170000e+02,0.000000e+00,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1972.000000,9.645000e+02,5.400000e+01,263.000000,0.000000,7.000000,0.000000,0.130000,4.000000
75%,1995.000000,8.059250e+03,2.002500e+03,2165.750000,71.000000,162.000000,0.000000,1.010000,133.000000
max,2014.000000,2.806634e+06,2.045156e+06,680284.000000,390719.000000,338912.000000,20520.000000,45.960000,45630.000000

In [26]:
data.dtypes

Nation                                                                                      string
Year                                                                                         int64
Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)      int64
Emissions from solid fuel consumption                                                      float64
Emissions from liquid fuel consumption                                                     float64
Emissions from gas fuel consumption                                                        float64
Emissions from cement production                                                             int64
Emissions from gas flaring                                                                 float64
Per capita CO2 emissions (metric tons of carbon)                                           float64
Emissions from bunker fuels (not included in the totals)                                     int64
dtype: object